/*GENERAL PARAMETERS*/
:root {
    --primary: #1F1F1F;
    --primary-light-1: #5C5C5C;
    --primary-light-2: #908F8F;
    --primary-shadow-1: #030202;
    --primary-shadow-2: #000;
    --secondary: #3E7393;
    --secondary-light-1: #6090AD;
    --secondary-light-2: #94BAD0;
    --secondary-shadow-1: #276082;
    --secondary-shadow-2: #154A69;
    --accent: #C3F25C;
    --danger: #D52B1E;
    --success: #008842;
}

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
    width: 100%;
    background-color: var(--primary-shadow-2);
}

/* Typography*/

h1 {
    margin: 0px;
    font-size: 24px;
}

h2 {
    margin: 0px;
    font-size: 21px;
}

h3 {
    margin: 0px;
    font-size: 18px;
}

p {
    margin: 0px;
    font-size: 14px;
}

a {
    color: #FFF;
}

.light {
    font-weight: 300;
}

.semibold {
    font-weight: 700;
}

.discount-price{
    text-decoration: line-through;
}

/* Buttons */

button {
    padding: 8px 24px;
    font-size: 18px;
    border-radius: 8px;
}

.outlined {
    background-color: transparent;
}

/* Directions */
.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

/* Sections */

/*------------------------------------------------HEADER ---------------------------*/

.header {
    background-color: var(--primary);
    height: 5rem;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    position: relative;

    .nav-menu-profile{
        display: none;
        position: absolute;
        top: 5rem;
        right: 0;
        width: 11.25rem;
        height: fit-content;
        background-color: var(--primary);
        color: #FFF;

        >ul{
            padding: 0px;
            margin: 0px;
            list-style: none;

            >li{
                display: flex;
                gap: 0.3125rem;
                align-items: center;
                height: 2.5rem;
                border-bottom: 0.0625rem solid var(--primary-light-2);
                padding-left: 1rem;
            }

            >li:hover{
                background-color: var(--primary-light-2);
            }
        }
    }


    

    .header-tittle {
        align-items: center;
        gap: 0.5rem;

        > i {
            color: var(--accent);
        }
    }

    .btn-menu{
        border: none;
        padding: 0;
        cursor: pointer;
        display: block;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 2rem;
    }

    .btn-nav-menu{
        color: #FFF;
        border: none;
        width: fit-content;     
        padding: 0;   
        cursor: pointer;
    }

    .nav-menu{
        background-color: var(--primary);
        display: none;
        position: absolute;
        top:0;
        left: 0;
        height: 25rem;
        width: 18.75rem;

        > button {
            margin-left: 2rem;
            margin-top: 2rem;
            border: none;
            border-radius: 0;
            padding: 0;
            color: #fff;
            cursor: pointer;
        }

        .nav-menu-sub-menu{
            display: none;
        }

        >h3{
            color: #fff;
            margin-left: 2rem;
            margin-top: 1rem;
        }

        .nav-menu-list{
            list-style: none;
            padding-left: 0px;
            cursor: pointer;
        }
    
        .nav-menu-list li {
            padding-left: 2rem;
            padding-right: 2rem;
            border-bottom: 1px solid var(--primary-light-2);
            color: #fff;
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between
        }

        .nav-menu-list li:hover{
            background-color: var(--primary-light-2);
        }

        .nav-menu.list li:active{
            background-color: var(--secondary-light-1);
        }


    }

    
    .header-tittle > h1 > a {
        color: #fff;
        text-decoration: none;
    }
    
    .profile{
        align-items: center;
        gap: 1.25rem;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 2rem;
    }
    
    
    .btn-profile-user {
        border: none;
        padding: 0;
        
    }
    
    .btn-profile-user img{
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 3.125rem;
        cursor: pointer;
    }
}

/*------------------------------------------------ MAIN ---------------------------*/

main{
    width: 100%;
}

.banner{
    justify-content: end;
    align-items: center;
    padding: 2rem;
    height: 21.875rem;
    background-image:url(../svg/image.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    > h1{
        color: #fff;
        background-color: #000;
        padding: 1rem;
    }

    > a {
        color: #000;
        text-decoration: none;

        > button{
            background-color: var(--accent);
            border: none;
            width: 8.125rem;
            cursor: pointer;
            border-radius: 0.5rem;
    
            
        }
    }
    
}


.release {
    position: relative;
    display:block;
    width: 100%;
    height: 48rem;
    outline: none;
    background-image:url(../images/Release.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 64px;

    >button {
        position: absolute;
        left: 4rem;
        bottom: 2.125rem;
        border-color: #fff;
        color: #fff;
    }
}

/*-----------------------------------------------CARROUSEL----------------------------------*/

.section-carrousel {
    padding: 32px;

    > h1{
        color: white;
        margin-bottom: 29px;
    }
    
}

.carrousel {
    position: relative;
    overflow: hidden;
}

.carrousel-container {
    display: flex;
    transition: transform 0.5s ease;
    width: calc(100% - 100px);
    margin: auto;
}

.carrousel-slide {
    min-width: 100%;
    flex: 0 0 100%; /* Asegura que los slides tengan el mismo ancho */
    text-align: center;
}

.slide-container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 100px);
    margin: auto;
    justify-content: space-between;
}

.btn-carrousel-arrow {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 25px); /* Centra verticalmente */
    z-index: 1;
}

.prevButton {
    left: 0; /* Ajusta la posición izquierda */

    &:disabled {
        display: none;
    }
}

.nextButton {
    right: 0; /* Ajusta la posición derecha */

    &:disabled {
        display: none;
    }
}


/*-----------------------------------------------CARD CATEGORY ----------------------------------*/

.card-category-container {
    width: 34%;
    height: 300px;
    position: relative;
    cursor: pointer;

    >h2 {
        position: absolute;
        color: white;
        top: 50%;
        left: 44px;
    }

    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    >div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.70) 100%);
        pointer-events: none; /* Evita que el gradiente interfiera con la interacción del contenido de la imagen */
    }

    &:hover >div {
        opacity: 0;
    }
}

/*-----------------------------------------------CARD DISPLAY----------------------------------*/

.card-container-display {
    /*width: 17.5rem;*/ 
    width: 30%; 
    background-color: var(--primary);
    color: #FFF;

    >img {
        width: 100%;
        height: 14.375rem;
        object-fit: cover;
    }
}

.card-body-second{
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    padding: 0.125rem 1rem;

    >button {
        display: flex;
        align-items: center;
        padding: 0.25rem;
        background-color: var(--accent);
        border: none;
    }
}

/*-----------------------------------------------CARD WITH TITLE----------------------------------*/

.card-container{
    width: 13.75rem;   
    background-color: var(--primary);
    padding: 2rem 2rem 2rem 2rem;
    color: #FFF;
    margin: 0px 2rem;

    >img {
        width: 100%;
        height: 15.625rem;
        object-fit: cover;
    }
}

.card-tittle{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.card-body{
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #FFF;
    height: 8.4375rem;
}

.card-content-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.card-btn-inCart{
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: #FFF;
    background-color: var(--secondary-shadow-2);
    border: none;
}

.card-btn-addToCart{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: var(--accent);
    background-color: transparent;
    border: 0.09375rem solid #C3F25C;
    gap: 0.625rem;
}

.content-price-discount{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.discount{
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    background-color: var(--primary-light-2);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.card-discount-content{
    display: flex;
    align-items: center;
    gap: 0.625rem;
}



.card-price-default{
    display: flex;
    justify-content: start;
    margin-top: 1rem;
    margin-bottom: 1rem; 
}

.card-price-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6025rem;
}

.card-btn-play{
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: var(--primary);
    background-color: var(--accent);
    border: none;
}


/*----------------------------------------------- FOOTER ----------------------------------*/


footer {
    height: 16.75rem;
    background-color: var(--primary);
    color: #FFF;
    padding: 4rem;
    
}

.footer_left {
    flex: 8;
    justify-content: space-between;
}

.footer_items {
    justify-content: space-between;

    & h3 {
        opacity: 0.8;
        margin-bottom: 1rem;
    }
    
    & p {
        opacity: 0.8;
        margin-bottom: 0.5rem;
    }
}

.copyright {
    .logo {
        align-items: center;
        & i {
            color: var(--accent);
            margin-right: 0.875rem;
        }
    }
    & p {
        opacity: 0.5;
        margin-top: 0.5rem;
    }
}

.footer_right {
    flex: 4;
    justify-content: space-between;

    & div {
        padding-left: 4rem;
    }

    & h1 {
        opacity: 0.8;
        margin-bottom: 0.5rem;
    }

    & h3 {
        opacity: 0.8;
        margin-bottom: 1rem;
    } 

    & i {
        margin-right: 1rem;
    }
}

.footer_phone {
    justify-content: space-around;
}

/*-----------------------------------------------------game section ------------------------------------*/

.section-tittle-game{
    background-color: var(--secondary-shadow-1);
    height: fit-content;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    color: #FFF;

    .section-tittle-game2{
        justify-content: space-between;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 8px;

        > button {
            color: #FFF;
            border: none;
            padding-right: 0;
        }
    }
}

.section-game-content{
    justify-content: space-between;
    height: 450px;
    background-color: #000;
    padding-left: 32px;
    padding-right: 32px;
    color: #FFF;
    padding-top: 32px;
    padding-bottom: 32px;

    > div {
        justify-content: center;
        align-items: center;
        color: var(--accent);

        .tokens{
            margin-top: 8px;
            margin-bottom: 8px;
            color: #FFF
        }
    }
}

.section-game-instructions{
    background-color: var(--primary);
    color: var(--accent);
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div{
        display: flex;
        align-items: center;
        gap: 1rem;

        > button {
            cursor: pointer;
            border: none;
            padding: 0;
        }
    }
}

.section-game-about{
    background-color: var(--primary-light-1);
    padding: 2rem 2rem 2rem 2rem;
    color: #FFF;

    > h4 {
        margin: 32px 0 0 0;
    }
}

.section-game-logos{
    padding: 1rem 2rem 1rem 2rem;
    justify-content: center;
    gap: 1rem;
}

.section-game-howToPlay{
    background-color: var(--secondary-shadow-1);
    padding: 2rem 2rem 2rem 2rem;
    color: #FFF;

    >h2{
        margin-bottom: 32px;
    }
}

.section-game-howToPlay-content-card{
    width: 100%;
}

.section-game-howToPlay-content-card-info{
    height: 65px;
}

.section-game-howToPlay-content-card-info :first-child {
    margin-bottom: 8px;
}

.section-game-howToPlay-content{
    gap: 2rem;
}

.section-game-howToPlay-content-img{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.img-game-mouse{
    width: 120px;
    height: 150px;
}

.section-game-win-info{
    background-color: var(--primary);
    padding: 2rem 2rem 2rem 2rem ;
    color: #FFF;

    >h2{
        margin-bottom: 16px;
    }
}

.section-game-win-info-content{
    justify-content: space-between;
    gap: 24px;

    > div {
        background-color: var(--primary-light-1);
        padding: 1rem;

        > h3{
            margin-bottom: 8px;
        }
    }
}

.section-game-video{
    background-color: var(--primary-shadow-2);
    padding: 2rem 2rem 2rem 2rem;
    color:#FFF
}

.section-game-video-content{
    margin-top: 16px;
    width: 100%;
    justify-content: center;
    gap: 16px;

    .first-card{
        width: 400px;
        height: 400px;
        background-color: var(--primary);

        > h4 {
            padding-left: 16px;
            padding-right: 16px;
        }

        > p {
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 32px;
            padding-top: 32px;
        }
    }

    .second-card{
        width: 400px;
        height: 400px;
        background-color: var(--primary);

        > div {
            background-image: url(../svg/Frame70.svg);
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            > button {
                border: none;
                padding: 0;
                cursor: pointer;
            }
        }

        >h4 {
            padding-left: 16px;
        }
    }
}

/*---------------------------------------section comments-------------------------------------------*/

.section-comments{
    padding: 2rem;
    justify-content: space-between;
    color: #FFF;
    gap: 2rem;
    height: 100%;
}

.section-comments-first{
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.section-comments-buttons{
    justify-content: space-between;

    >div > button:first-child {
        background-color: transparent;
        border: 2px solid var(--accent);
        color: var(--accent);
        width: 130px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    > div > button:last-child {
        background-color: var(--accent);
        border: 2px solid var(--accent);
        width: 130px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 0;
        padding-right: 0;
    }
}

.section-form-comments{
    width: 100%;
}

.img{
    border-radius: 50px;
    width: 50px;
}

.input{
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
    border-radius: 10px;
    height: 70px;
    outline: none;
    background-color: var(--primary-light-1);
    color: #FFF;
}

.input::placeholder{
    color: #FFF;
    padding-left: 16px;
    text-align: start;
}

.order{
    margin-top: 1rem;
    gap: 16px;
    align-items: center;

    > p {
        display: flex;
        align-items: center;
    }
}

.scroll-comment{
    max-height: 383px;
    overflow-y: auto;
    overflow-x: hidden;    
}

.comment{
    margin-top: 32px;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
    max-height: 100%;
    margin-left: 16px;
    margin-right: 16px;
    
    .first-part-comment{
        width: 70%;

        > :first-child{
            margin-bottom: 8px;
        }
    }
    .second-part-comment{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        width: 30%;
    }
}