.footer-top {
    width: 100%;
    background-color: var(--darkGrey);
    height: 80px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
}

.footer-bottom {
    width: 100%;
    background-color: var(--lightGrey);
    display: flex;
    justify-content: center;
}

.footer-content{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 100px;

    >p {
        color: #FFF;
        width: 820px;
        padding-bottom: 20px;

        line-height: 94.5%; /* 18.9px */
        letter-spacing: 2.2px;
    }

    >a {
        color: #fff;
        font-size: 20px;
    }

    .footer-media {
        padding-top: 38px;

        >button {
            width: 41px;
            height: 41px;
        }
    }
}


