@import url("header.css");
@import url("sectionFirst.css");
@import url("sectionCharacters.css");
@import url("sectionGames.css");
@import url("footer.css");
@import url("loader.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}

:root {
    --celeste: #2982ff;
    --azul: #02187e;
    --amarillo: #ffe901;
    --lightGrey: #5E5E5D;
    --darkGrey: #242424;
}

main{
    height: 2000px;
}

p {
    font-size: 20px;
}