@import url("header.css");
@import url("sectionFirst.css");
@import url("sectionCharacters.css");
@import url("sectionGames.css");
@import url("sectionGhost.css");
@import url("sectionAvengers.css");
@import url("sectionSuscribe.css");
@import url("sectionBuy.css");
@import url("footer.css");
@import url("loader.css");
@import url("menu.css");
@import url("sectionSpiders.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}

:root {
    --celeste: #2982ff;
    --azul: #02187e;
    --amarillo: #ffe901;
    --lightGrey: #5E5E5D;
    --darkGrey: #242424;
}

h1 {
    font-size: 60px;
}
p {
    font-size: 20px;
}

.underlined {
    text-decoration: underline;
}

.btn-comprar {
    transition: all 0.5s ease-in-out;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, var(--celeste));
    background: var(--amarillo);
    box-shadow: 4px 5px 0px 0px var(--azul);

    color: var(--azul);
    font-size: 20px;
    font-weight: 900;
    line-height: 19px;
    letter-spacing: 0.11em;
    text-align: center;
    cursor: pointer;

    &:hover {
        background: var(--azul);
        border: 8px solid var(--2982-ff, var(--celeste));
        box-shadow: 4px 5px 0px 0px var(--amarillo);
        color: var(--amarillo);
        transform: scale(1.2);
    }
}

