header {
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0) 100%);
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 227px;
    z-index: 1;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20px;
}

.menu{
    top: 20px;
    left: 100px;
    width: fit-content;
}

.btn-comprar{
    top: 20px;
    left: 980px;
    height: 50px;
    width: 200px;
    border: 8px solid;
    border-radius: 111px;
    border-color: var(--celeste);
    background-color: var(--amarillo);
    color: var(--azul);
    box-shadow: 4px 5px 0px 0px var(--azul);
    font-size: 20px;
    font-weight: 900;
    line-height: 19px;
    letter-spacing: 0.11em;
    text-align: center;
    cursor: pointer;
}

.section-banner{
    position: relative;
}

.logo{
    position: absolute;
    top: 91px;
    left: 330px;
    z-index: 1000;
}

.nubes{
    position: absolute;
    top: -90px;
    width: 1280px;
}

.estructuraIzq{
    position: absolute;
    top: -92px;
    left: 0px;
    z-index: 2;
}

.spider-woman{
    position: absolute;
    top: 159px;
    left: 90px;
    z-index: 3;
}

.estructuraAbajo{
    position: absolute;
    top: 397px;
    left: 386px;
}

.spider{
    position: absolute;
    top: 187px;
    left: 393px;
    z-index: 4;
}

.spider-men{
    position: absolute;
    top: 112px;
    left: 695px;
    z-index: 4;
}

.estructuraDer{
    position: absolute;
    top: -100px;
    left: 899px;
    z-index: 2;
}

.tela-izq{
    position: absolute;
    left: -3px;
    top: 160px;
    z-index: 5;
}

.tela-der{
    position: absolute;
    z-index: 5;
    left: 981px;
    top: 170px;
}


  
