header {
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0) 100%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    height: 227px;
    z-index: 1;
}

.menu{
    width: fit-content;
    z-index: 2;
}

.btn-comprar{
    height: 50px;
    width: 200px;
    border: 8px solid;
    border-radius: 111px;
    border-color: var(--celeste);
    background-color: var(--amarillo);
    color: var(--azul);
    box-shadow: 4px 5px 0px 0px var(--azul);
    font-size: 20px;
    font-weight: 900;
    line-height: 19px;
    letter-spacing: 0.11em;
    text-align: center;
    cursor: pointer;
}

.section-banner{
    width: 100%;
    position: relative;
    height: 840px;
    z-index: 1;
}

.logo{
    position: absolute;
    top: 91px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.nubes{
    position: absolute;
    top: -15%;
    width: 100%;
    z-index: 2;
  }

@keyframes entrada {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes entradaBack {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }


  @keyframes estructura-izq {
    0% {
      transform: translateX(-40px)
    }
    100% {
      transform: translateX(0px)
    }
  }

  @keyframes estructura-der {
    0% {
      transform: translateX(40px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  .estructuraDer{
    position: absolute;
    top: -100px;
    right: 0px;
    z-index: 2;
    /*animation: estructura-der 1.5s ease-in-out;*/
}

.estructuraIzq{
  display: none;

    position: absolute;
    top: -92px;
    left: 0px;
    z-index: 2;
    /*animation: estructura-izq 1.5s ease-in-out;*/
}

.spider-woman{
    display: none;
    position: absolute;
    top: 159px;
    left: 90px;
    z-index: 3;
    /*animation: entrada 1.5s ease-in-out;*/
}

.estructuraAbajo{
  position: absolute;
    top: 397px;
    width: 80%;
    right: 300px;
    z-index: 3;
    /*animation: entradaBack 1.5s ease-in-out;*/
}

.spider{
  display: none;

    position: absolute;
    top: 187px;
    left: 393px;
    z-index: 4;
    animation: none /*entrada 1.5s ease-in-out;*/
}

.spider-men{
  display: none;

    position: absolute;
    top: 112px;
    left: 695px;
    z-index: 4;
    /*animation: entrada 1.5s ease-in-out;*/
}



.tela-izq{
  display: none;

    position: absolute;
    left: -3px;
    top: 160px;
    z-index: 5;
}

.tela-der{
  display: none;

    position: absolute;
    z-index: 5;
    left: 981px;
    top: 170px;
}


  
