.menu-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    z-index: 2;
}

.menu-burger img {
    transition: transform 0.5s ease;
    box-shadow: 4px 5px 0px 0px rgba(2, 24, 126, 1);
    border-radius: 8px;
}

.menu-burger.active #line1 {
    animation: line1 1s forwards;
}

.menu-burger.active #line2 {
    animation: line2 1s forwards;
}

.menu-burger.active #line3 {
    animation: line3 1s forwards;
}

.menu-burger:not(.active) #line1 {
    animation: revertLine1 1s forwards;
}

.menu-burger:not(.active) #line2 {
    animation: revertLine2 1s forwards;
}

.menu-burger:not(.active) #line3 {
    animation: revertLine3 1s forwards;
}

@keyframes line1 {
    0% {
        transform: translateY(0)
    }
    100% {
        box-shadow: none;
        transform: translateY(12px) rotate(-45deg);
    }
}

@keyframes revertLine1 {
    0% {
        transform: translateY(12px) rotate(-45deg);
    }
    100% {
        box-shadow: 4px 5px 0px 0px rgba(2, 24, 126, 1);
        transform: translateY(0)
    }
}

@keyframes line3 {
    0% {
        transform: translateY(0)
    }
    100% {
        box-shadow: none;
        transform: translateY(-12px) rotate(45deg)
    }
}

@keyframes revertLine3 {
    0% {
        transform: translateY(-12px) rotate(45deg);
    }
    100% {
        box-shadow: 4px 5px 0px 0px rgba(2, 24, 126, 1);
        transform: translateY(0)
    }
}

@keyframes line2 {
    0% {
        transform: translateY(0)
    }
    100% {
        box-shadow: none;
        transform: translateY(0px) rotate(45deg);
    }
}

@keyframes revertLine2 {
    0% {
        transform: translateY(0px) rotate(45deg);
    }
    100% {
        box-shadow: 4px 5px 0px 0px rgba(2, 24, 126, 1);
        transform: translateY(0)
    }
}