.section-buy {
    position: relative;
    width: 1280px;
    height: 1100px;
    margin: auto;
    background-color: #000;

    .section-bg {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .section-top {
        width: 100%;
        padding: 80px 100px;

        >h1 {
            width: 816px;
            color: #FFF;
            font-weight: 400;
        }
    
        >button {
            width: 292px;
            height: 66px;
    
            border-radius: 111px;
            border: 8px solid var(--2982-ff, #2982FF);
            background: #FFE901;
            box-shadow: 4px 5px 0px 0px #02187E;
            margin-top: 42px;
    
            color: #02187E;
            font-size: 20px;
            font-weight: 900;
        }
    }
}