.section-characters {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    width: 100%;
    top: -150px;

    .content-characters{
        padding-left: 100px;
        padding-right: 100px;
        width: 1280px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .characters-block {
        width: 30%;

        >p {
            height: 218px;
            margin-top: 23px;
        }
    }
}