.section-avengers {
    position: relative;
    background-color: #000;
    height: 1120px;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    width: 100%;
    top: -400px;
}

.avengers-bg {
    position: relative;
    top: 560px;
    z-index: 4;

    .avengers-title {
        position: absolute;
        left: 0;
        color: #fff;
        z-index: 3;
        top: -280px;
    }

    .city-bg{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
    }

    .leaves-bg{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 6;
    }

    .hulk {
        position: absolute;
        top: 105px;
        right: -55px;
        z-index: 5;
    }

    .panther {
        position: absolute;
        left: 450px;
        top: -255px;
        z-index: 9;
    }

    .elastic {
        position: absolute;
        left: 30px;
        top: -95px;
        z-index: 5;
    }
}
