.section-first{
    position: relative;
    height: 1030px;
    display: flex;
    justify-content: center;
    top: -230px;
    z-index: 2;
    overflow: hidden;
}

.duende-verde{
    left: 620px;
    top: -95px;
    z-index: 3;
    position: absolute;
}
.rect{
    position: absolute;
    width: 100%;
}

.section-first-content{
    width: 1280px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    top: 250px;
    left: 90px;
    bottom: 577px;

    .game{
        position: absolute;
        left: -10px;
        top: 290px;
    }

    > h2 {
        font-size: 60px;
        font-weight: 600;
        line-height: 57px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 16px;
    }

    > p {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
}